Repository nathan-probert/SmartScore: changes, and which pre-commit hooks are due for each by the changed paths.
All: static-analysis, format, asl-lint

.pre-commit-config.yaml:

default_language_version:
  python: python3.12

repos:
  - repo: local
    hooks:
      - id: static-analysis
        name: ruff-linter
        entry: ruff check
        language: system
        types:
          - python
        args:
          - '--config=./pyproject.toml'
          - '--fix'
        pass_filenames: false
      - id: format
        name: ruff-format
        entry: ruff format
        language: system
        types:
          - python
        args:
          - '--config=./pyproject.toml'
        pass_filenames: false
      - id: asl-lint
        name: asl-lint
        entry: statelint
        language: system
        types: [json]
        args: []
        pass_filenames: false
        files: ^templates/.*\.asl\.json$

chore: Fix last_game flag logic in schedule_run function
  smartscore/utility.py
Due: static-analysis, format

chore: Update PostgREST and related packages to version 2.27.2; add sorting to schedule_run function and new unit test for last_game flag
  poetry.lock
  smartscore/utility.py
  tests/unit/test_utility_schedule_run.py
Due: static-analysis, format

chore: Update import statements in test_utility_schedule_run.py to remove repository prefix
  tests/unit/test_utility_schedule_run.py
Due: static-analysis, format

feat(schedule): Add last_game flag to input payload for event scheduling (#76)
  poetry.lock
  smartscore/event_handler.py
  smartscore/service.py
  smartscore/utility.py
  templates/player_processing_pipeline.asl.json
  tests/unit/test_handle_get_teams.py
  tests/unit/test_utility_schedule_run.py
Due: static-analysis, format, asl-lint

Add one more day to the history db so that UI can display a full week
  smartscore/constants.py
  tests/data/old_entries.json
  tests/unit/test_handle_save_historic_db.py
Due: static-analysis, format

Add one more day to the history db so that UI can display a full week (#78)
  smartscore/constants.py
  tests/data/old_entries.json
  tests/unit/test_handle_save_historic_db.py
Due: static-analysis, format

Add GPU+Rust script for maximum speed capabilities
  poetry.lock
  pyproject.toml
  smartscore/Rust/make_predictions/src/lib.rs
  smartscore/Rust/make_predictions/src/weight_generation.rs
  smartscore/scripts/find_weights_gpu.py
  smartscore/scripts/shared.py
Due: static-analysis, format

feat(metrics): Implement metrics calculation and update functionality
  pyproject.toml
  smartscore/constants.py
  smartscore/event_handler.py
  smartscore/scripts/calculate_accuracy.py
  smartscore/service.py
  smartscore/utility.py
Due: static-analysis, format

Fix issue where the last update to db was failing
  smartscore/event_handler.py
Due: static-analysis, format

Add tests for event handling, service logic, and utility functions; update dependencies for coverage reporting
  .gitignore
  Makefile
  poetry.lock
  pyproject.toml
  smartscore/service.py
  tests/unit/test_decorators.py
  tests/unit/test_event_handler.py
  tests/unit/test_service.py
  tests/unit/test_service_predictions.py
  tests/unit/test_utility.py
Due: static-analysis, format

Refactor test imports and update linting rules for improved code quality
  pyproject.toml
  tests/unit/test_decorators.py
  tests/unit/test_event_handler.py
  tests/unit/test_service.py
  tests/unit/test_service_predictions.py
Due: static-analysis, format

feat(updates): GPU script for weights, add metrics, (#79)
  .gitignore
  Makefile
  poetry.lock
  pyproject.toml
  smartscore/Rust/make_predictions/src/lib.rs
  smartscore/Rust/make_predictions/src/weight_generation.rs
  smartscore/constants.py
  smartscore/event_handler.py
  smartscore/scripts/calculate_accuracy.py
  smartscore/scripts/find_weights_gpu.py
  smartscore/scripts/shared.py
  smartscore/service.py
  smartscore/utility.py
  tests/unit/test_decorators.py
  tests/unit/test_event_handler.py
  tests/unit/test_service.py
  tests/unit/test_service_predictions.py
  tests/unit/test_utility.py
Due: static-analysis, format

feat: Add email notification functionality and state machine for user notifications
  .gitignore
  build_scripts/deploy.sh
  poetry.lock
  pyproject.toml
  smartscore/config.py
  smartscore/email_utility.py
  smartscore/event_handler.py
  smartscore/scripts/preview_email.py
  smartscore/service.py
  smartscore/utility.py
  templates/notify_users.asl.json
  templates/template.yaml
  tests/unit/test_email_preferences.py
Due: static-analysis, format, asl-lint

fix: Update import path for get_emails in test_email_preferences
  tests/unit/test_email_preferences.py
Due: static-analysis, format

Refactor email handling to include display names
  smartscore/email_utility.py
  smartscore/event_handler.py
  smartscore/service.py
  smartscore/utility.py
  tests/unit/test_email_preferences.py
Due: static-analysis, format

Enhance email sending functionality and improve user email retrieval
  smartscore/config.py
  smartscore/email_utility.py
  smartscore/event_handler.py
  smartscore/service.py
  smartscore/utility.py
Due: static-analysis, format

feat(metrics): Add CURRENT_PICK_ACCURACY to metrics before upload
  smartscore/utility.py
Due: static-analysis, format

Update dependencies and improve metric calculations
  poetry.lock
  pyproject.toml
  smartscore/service.py
  smartscore/utility.py
Due: static-analysis, format

feat(metrics): Add CURRENT_PICK_ACCURACY to metrics before upload (#81)
  poetry.lock
  pyproject.toml
  smartscore/service.py
  smartscore/utility.py
Due: static-analysis, format

refactor(event_handler): Replace initial_run flag with status in response
  smartscore/event_handler.py
  templates/player_processing_pipeline.asl.json
Due: static-analysis, format, asl-lint

fix(historic_db): Return yesterday's entries when today's data already exists; handle empty results in metrics calculation
  smartscore/service.py
Due: static-analysis, format

refactor(event_handler): Replace initial_run flag with status in response (#82)
  smartscore/event_handler.py
  templates/player_processing_pipeline.asl.json
Due: static-analysis, format, asl-lint

Fix/rerun (#83)
  smartscore/service.py
Due: static-analysis, format

Fix bug
  smartscore/service.py
Due: static-analysis, format

Fix bug (#84)
  smartscore/service.py
Due: static-analysis, format

fix(event_handler): set default status to 'first_run' in handle_get_tims response
  smartscore/event_handler.py
Due: static-analysis, format

fix(event_handler): set default status to 'first_run' in handle_get_tims response (#85)
  smartscore/event_handler.py
Due: static-analysis, format

feat(deploy): add required environment variables for Supabase and Brevo integration
  build_scripts/deploy.sh
  templates/template.yaml
Due: none

feat(deploy): add Brevo email configuration to environment variables
  .github/workflows/deploy.yml
Due: none

feat(deploy): update environment variables for Brevo integration and add debugging step
  .github/workflows/deploy.yml
  build_scripts/deploy.sh
  templates/template.yaml
Due: none

feat(deploy): rename SendEmails state machine to NotifyUsers in deployment script
  .github/workflows/deploy.yml
  build_scripts/deploy.sh
Due: none

feat(deploy): add SendEmailsFunction ARN to permissions in CloudFormation template
  templates/template.yaml
Due: none

Implement feature X to enhance user experience and fix bug Y in module Z
  smartscore/event_handler.py
Due: static-analysis, format

Fix last game not displaying
  smartscore/event_handler.py
  smartscore/scripts/calculate_accuracy.py
  smartscore/scripts/shared.py
Due: static-analysis, format

Fix last game not displaying (#86)
  smartscore/event_handler.py
  smartscore/scripts/calculate_accuracy.py
  smartscore/scripts/shared.py
Due: static-analysis, format

Add trigger to send emails
  templates/template.yaml
Due: none

Fix broken test
  tests/unit/test_event_handler.py
Due: static-analysis, format

Fix ci tests
  .github/workflows/deploy.yml
Due: none

Fix broken test (#87)
  .github/workflows/deploy.yml
  tests/unit/test_event_handler.py
Due: static-analysis, format

Allow eventbridge to invoke send emails sfn
  templates/template.yaml
Due: none
