Repository nathan-probert/SmartScore: changes, and which pre-commit hooks are due for each by the changed paths.
All: static-analysis, format, asl-lint

static-analysis:
  name: ruff-linter
  entry: poetry run ruff check
  language: system
  args:
  - --config=./pyproject.toml
  - --fix
  pass_filenames: false

format:
  name: ruff-format
  entry: poetry run ruff format
  language: system
  args:
  - --config=./pyproject.toml
  pass_filenames: false

asl-lint:
  name: asl-lint
  entry: poetry run statelint
  language: system
  pass_filenames: true

Include the step functions as part of the stack to ensure easy updates
  .gitignore
  build_scripts/compile.sh
  build_scripts/deploy.sh
  templates/template.yaml
Due: none

Include the step functions as part of the stack to ensure easy updates (#54)
  .gitignore
  build_scripts/compile.sh
  build_scripts/deploy.sh
  templates/template.yaml
Due: none

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Update dependencies (#55)
  poetry.lock
  pyproject.toml
Due: none

Migrating to uv
  .github/workflows/deploy.yml
  .github/workflows/lint-and-test.yml
  .pre-commit-config.yaml
  Makefile
  build_scripts/deploy.sh
  poetry.lock
  pyproject.toml
  smartscore/scripts/get_odds.py
Due: static-analysis, format

feat: Refactor Rust prediction module and integrate new data types
  .gitignore
  Makefile
  smartscore/Rust/make_predictions/Cargo.lock
  smartscore/Rust/make_predictions/Cargo.toml
  smartscore/Rust/make_predictions/src/data_types.rs
  smartscore/Rust/make_predictions/src/lib.rs
  smartscore/Rust/make_predictions/src/predictions.rs
  smartscore/Rust/make_predictions/src/weight_generation.rs
  smartscore/Rust/make_predictions/src/weight_testing.rs
  smartscore/scripts/find_weights.py
  smartscore/scripts/find_weights_c.py
Due: static-analysis, format

feat: Update PlayerInfo struct to use Option types for scored, tims, and date fields
  smartscore/Rust/make_predictions/src/data_types.rs
  smartscore/Rust/make_predictions/src/weight_testing.rs
Due: none

feat: Refactor Rust prediction module and integrate new data types (#57)
  .gitignore
  Makefile
  smartscore/Rust/make_predictions/Cargo.lock
  smartscore/Rust/make_predictions/Cargo.toml
  smartscore/Rust/make_predictions/src/data_types.rs
  smartscore/Rust/make_predictions/src/lib.rs
  smartscore/Rust/make_predictions/src/predictions.rs
  smartscore/Rust/make_predictions/src/weight_generation.rs
  smartscore/Rust/make_predictions/src/weight_testing.rs
  smartscore/scripts/find_weights.py
  smartscore/scripts/find_weights_c.py
Due: static-analysis, format

Fix ssm parameter issue
  build_scripts/deploy.sh
  templates/template.yaml
Due: none

Saving state
  .gitignore
  Makefile
  smartscore/Rust/test_weights/Cargo.lock
  smartscore/Rust/test_weights/Cargo.toml
  smartscore/Rust/test_weights/src/lib.rs
  smartscore/scripts/find_weights.py
  smartscore/scripts/shared.py
Due: static-analysis, format

Fix step function name to allow event bridge rules to work
  smartscore/utility.py
Due: static-analysis, format

Fix(miscellaneous): Fix SSM role and event bridge name (#58)
  build_scripts/deploy.sh
  smartscore/utility.py
  templates/template.yaml
Due: static-analysis, format

Add a script for testing a specific weight
  smartscore/scripts/shared.py
Due: static-analysis, format

File did not get added
  smartscore/scripts/test_weights.py
Due: static-analysis, format

Update the weights
  smartscore/service.py
Due: static-analysis, format

Fix linter issues
  smartscore/scripts/test_weights.py
Due: static-analysis, format

Update the weights (#59)
  smartscore/service.py
Due: static-analysis, format

feat(scripts): Add script for weight testing (#60)
  smartscore/scripts/shared.py
  smartscore/scripts/test_weights.py
Due: static-analysis, format

Update the min max for weight normalization
  smartscore/service.py
Due: static-analysis, format

Temporairly allocate more weighting to historic gpg to account for new season
  smartscore/constants.py
  smartscore/service.py
Due: static-analysis, format

Fix lint errors
  smartscore/constants.py
Due: static-analysis, format

feat(weights): Temporarily allocate more weighting to historic gpg (#61)
  smartscore/constants.py
  smartscore/service.py
Due: static-analysis, format

Create a lambda to fetch injuries
  .github/workflows/deploy.yml
Due: none

Adding all changes
  .github/workflows/deploy.yml
  build_scripts/deploy.sh
  poetry.lock
  pyproject.toml
  smartscore/event_handler.py
  smartscore/service.py
  templates/template.yaml
Due: static-analysis, format

Check if this is a dependency issue
  smartscore/service.py
Due: static-analysis, format

Add retries and upgrade info client version
  pyproject.toml
  smartscore/scripts/live_updates.py
  smartscore/utility.py
  templates/player_processing_pipeline.asl.json
Due: static-analysis, format, asl-lint

Remove unrelated changes
  smartscore/scripts/test_weights.py
Due: static-analysis, format

Fix float error
  templates/player_processing_pipeline.asl.json
Due: asl-lint

poetry lock
  poetry.lock
Due: none

Feat/add retries and upgrades (#64)
  poetry.lock
  pyproject.toml
  smartscore/scripts/live_updates.py
  smartscore/utility.py
  templates/player_processing_pipeline.asl.json
Due: static-analysis, format, asl-lint

try again
  smartscore/service.py
Due: static-analysis, format

chore: update retry logic and increment smartscore-info-client version
  .github/workflows/deploy.yml
  pyproject.toml
  templates/player_processing_pipeline.asl.json
Due: asl-lint

chore: update smartscore-info-client version to 2.1.0 and adjust backoff rate to float
  poetry.lock
  templates/player_processing_pipeline.asl.json
Due: asl-lint

chore: update test mocks to use exponential_backoff_request for improved retry logic
  tests/unit/test_handle_get_teams.py
Due: static-analysis, format

chore: remove unused MagicMock import from test_handle_get_teams.py
  tests/unit/test_handle_get_teams.py
Due: static-analysis, format

chore(retries): Update retry logic and increment smartscore-info-client version (#65)
  .github/workflows/deploy.yml
  poetry.lock
  pyproject.toml
  templates/player_processing_pipeline.asl.json
  tests/unit/test_handle_get_teams.py
Due: static-analysis, format, asl-lint

rename function in deploy script
  build_scripts/deploy.sh
Due: none

chore(timeout): Decrease MaxConcurrency to 2 and ensure TimeoutSeconds is set for player retrieval
  templates/get_players.asl.json
Due: asl-lint

chore(timeout): Decrease MaxConcurrency to 2 and ensure TimeoutSeconds is set for player retrieval (#66)
  templates/get_players.asl.json
Due: asl-lint

chore(players): Refactor handle_get_players_from_team to return complete team structure and update state machine configuration
  smartscore/event_handler.py
  templates/get_players.asl.json
  templates/template.yaml
  tests/unit/test_handle_get_players_from_team.py
Due: static-analysis, format, asl-lint

Path conditions:
  static-analysis: any of: \.py$
  format: any of: \.py$
  asl-lint: any of: .*\.asl\.json$ and \.json$
