Repository nathan-probert/SmartScore: changes, and which pre-commit hooks are due for each by the changed paths.
All: static-analysis, format, asl-lint

static-analysis:
  name: ruff-linter
  entry: ruff check
  language: system
  args:
  - --config=./pyproject.toml
  - --fix
  pass_filenames: false

format:
  name: ruff-format
  entry: ruff format
  language: system
  args:
  - --config=./pyproject.toml
  pass_filenames: false

asl-lint:
  name: asl-lint
  entry: statelint
  language: system
  args: []
  pass_filenames: false

Fix template policies
  templates/template.yaml
Due: none

Skip update history if no games
  templates/player_processing_pipeline.asl.json
Due: asl-lint

Skip update history if no games (#88)
  templates/player_processing_pipeline.asl.json
Due: asl-lint

Update security dependencies
  poetry.lock
  pyproject.toml
Due: none

Try using venv in setup and lint steps
  .github/workflows/deploy.yml
Due: none

Move venv
  .github/workflows/deploy.yml
Due: none

Remove venv related changes
  .github/workflows/deploy.yml
Due: none

Revert other changes
  .github/workflows/deploy.yml
Due: none

Lock python versions
  .github/workflows/deploy.yml
Due: none

Remove poetry venv flag
  .github/workflows/deploy.yml
Due: none

Remove env flag
  .github/workflows/deploy.yml
Due: none

Update security dependencies (#89)
  .github/workflows/deploy.yml
  poetry.lock
  pyproject.toml
Due: none

bump info client version
  pyproject.toml
Due: none

Update lock file
  poetry.lock
Due: none

Attempt to reduce lambda size
  build_scripts/compile.sh
  build_scripts/deploy.sh
  build_scripts/rust_compile.sh
Due: none

bump info client version (#90)
  build_scripts/compile.sh
  build_scripts/deploy.sh
  build_scripts/rust_compile.sh
  poetry.lock
  pyproject.toml
Due: none

Add feature flag for sending emails and update related configurations
  .github/workflows/deploy.yml
  .gitignore
  README.md
  build_scripts/deploy.sh
  smartscore/email_utility.py
  smartscore/feature_flags.py
  smartscore/service.py
  templates/template.yaml
  tests/unit/test_service.py
Due: static-analysis, format

feat: Add email notification functionality and state machine for user notifications (#80)
  .github/workflows/deploy.yml
  .gitignore
  README.md
  build_scripts/deploy.sh
  poetry.lock
  smartscore/config.py
  smartscore/email_utility.py
  smartscore/event_handler.py
  smartscore/feature_flags.py
  smartscore/scripts/preview_email.py
  smartscore/service.py
  smartscore/utility.py
  templates/notify_users.asl.json
  templates/template.yaml
  tests/unit/test_email_preferences.py
  tests/unit/test_service.py
Due: static-analysis, format, asl-lint

refactor-teams-players-and-api-client
  poetry.lock
  pyproject.toml
  smartscore/event_handler.py
  smartscore/scripts/calculate_accuracy.py
  smartscore/scripts/find_weights_rust.py
  smartscore/scripts/plots.py
  smartscore/scripts/test_weights.py
  smartscore/service.py
  smartscore/utility.py
  tests/unit/test_event_handler.py
  tests/unit/test_handle_get_players_from_team.py
  tests/unit/test_handle_get_teams.py
  tests/unit/test_service.py
  tests/unit/test_utility.py
Due: static-analysis, format

Add a labelled trigger
  .github/workflows/deploy.yml
Due: none

Add integration tests
  .github/workflows/deploy.yml
  Makefile
  build_scripts/deploy.sh
  poetry.lock
  pyproject.toml
  smartscore/feature_flags.py
  smartscore/mock_nhl_client.py
  smartscore/scripts/record_nhl_fixtures.py
  smartscore/service.py
  templates/template.yaml
  tests/fixtures/nhl/README.md
  tests/fixtures/nhl/player/100.json
  tests/fixtures/nhl/player/101.json
  tests/fixtures/nhl/player/200.json
  tests/fixtures/nhl/player/201.json
  tests/fixtures/nhl/roster/EDM.json
  tests/fixtures/nhl/roster/TOR.json
  tests/fixtures/nhl/schedule/2025-06-11.json
  tests/fixtures/nhl/score/2025-06-11.json
  tests/fixtures/nhl/team/penalty_kill_20242025.json
  tests/fixtures/nhl/team/summary_20242025.json
  tests/integration/posthog_flag.py
  tests/integration/test_mock_nhl_integration.py
  tests/unit/test_feature_flags.py
  tests/unit/test_handle_get_teams.py
  tests/unit/test_mock_nhl_client.py
  tests/unit/test_service.py
Due: static-analysis, format

fix build
  tests/integration/posthog_flag.py
  tests/integration/test_mock_nhl_integration.py
Due: static-analysis, format

Fix build
  .github/workflows/deploy.yml
  tests/integration/test_mock_nhl_integration.py
Due: static-analysis, format

Fix integration harness to toggle PostHog flag via active field
  tests/integration/test_mock_nhl_integration.py
Due: static-analysis, format

Fix wait_for_flag to read /flags response correctly
  tests/integration/test_mock_nhl_integration.py
Due: static-analysis, format

Fix integration harness: scope mocks to unit tests and pin mock date
  smartscore/mock_nhl_client.py
  tests/conftest.py
  tests/unit/conftest.py
Due: static-analysis, format

Extend integration test to run GetPlayers Step Functions E2E
  tests/integration/test_mock_nhl_integration.py
Due: static-analysis, format

Use CloudFormation change sets to skip no-op stack updates (#98)
  build_scripts/deploy.sh
  plan.md
Due: none

Remove plan.md from tracked files
  plan.md
Due: none

Add unit test for backfill path using the NHL client get_score
  tests/unit/test_service.py
Due: static-analysis, format

Refactor teams players and api client (#95)
  .github/workflows/deploy.yml
  poetry.lock
  pyproject.toml
  smartscore/event_handler.py
  smartscore/scripts/calculate_accuracy.py
  smartscore/scripts/find_weights_rust.py
  smartscore/scripts/plots.py
  smartscore/scripts/test_weights.py
  smartscore/service.py
  smartscore/utility.py
  tests/unit/test_event_handler.py
  tests/unit/test_handle_get_players_from_team.py
  tests/unit/test_handle_get_teams.py
  tests/unit/test_service.py
  tests/unit/test_utility.py
Due: static-analysis, format

Add integration tests (#96)
  .github/workflows/deploy.yml
  Makefile
  build_scripts/deploy.sh
  poetry.lock
  pyproject.toml
  smartscore/feature_flags.py
  smartscore/mock_nhl_client.py
  smartscore/scripts/record_nhl_fixtures.py
  smartscore/service.py
  templates/template.yaml
  tests/conftest.py
  tests/fixtures/nhl/README.md
  tests/fixtures/nhl/player/100.json
  tests/fixtures/nhl/player/101.json
  tests/fixtures/nhl/player/200.json
  tests/fixtures/nhl/player/201.json
  tests/fixtures/nhl/roster/EDM.json
  tests/fixtures/nhl/roster/TOR.json
  tests/fixtures/nhl/schedule/2025-06-11.json
  tests/fixtures/nhl/score/2025-06-11.json
  tests/fixtures/nhl/team/penalty_kill_20242025.json
  tests/fixtures/nhl/team/summary_20242025.json
  tests/integration/test_mock_nhl_integration.py
  tests/unit/conftest.py
  tests/unit/test_feature_flags.py
  tests/unit/test_handle_get_teams.py
  tests/unit/test_mock_nhl_client.py
  tests/unit/test_service.py
Due: static-analysis, format

Parallelize Lambda function code updates in deploy script
  build_scripts/deploy.sh
Due: none

Parallelize Lambda function code updates in deploy script (#100)
  build_scripts/deploy.sh
Due: none

chore: update smartscore-info-client to v3.0.0
  poetry.lock
  pyproject.toml
Due: none

chore: update smartscore-info-client to v3.0.0 (#101)
  poetry.lock
  pyproject.toml
Due: none

Update .gitignore to exclude ocx and opencode directories
  .gitignore
Due: none

Update .gitignore to exclude ocx and opencode directories (#102)
  .gitignore
Due: none

Migrate to uv
  .github/workflows/deploy.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  build_scripts/deploy.sh
  poetry.lock
  pyproject.toml
  smartscore/email_utility.py
  smartscore/feature_flags.py
  smartscore/scripts/calculate_accuracy.py
  smartscore/scripts/find_weights_gpu.py
  smartscore/scripts/get_odds.py
  smartscore/scripts/plots.py
  smartscore/scripts/record_nhl_fixtures.py
  smartscore/scripts/test_weights.py
  smartscore/service.py
  smartscore/utility.py
  tests/fixtures/nhl/README.md
  tests/integration/test_mock_nhl_integration.py
  tests/unit/test_service.py
  uv.lock
Due: static-analysis, format

Fix CI: compile Rust module in test job, install dev deps for integration tests
  .github/workflows/deploy.yml
Due: none

Path conditions:
  static-analysis: any of: \.py$
  format: any of: \.py$
  asl-lint: any of: ^templates/.*\.asl\.json$ and \.json$
