Repository nathan-probert/SmartScore: changes, and which pre-commit hooks are due for each by the changed paths.
All: static-analysis, format, asl-lint

.pre-commit-config.yaml:

default_language_version:
  python: python3.12

repos:
  - repo: local
    hooks:
      - id: static-analysis
        name: ruff-linter
        entry: ruff check
        language: system
        types:
          - python
        args:
          - '--config=./pyproject.toml'
          - '--fix'
        pass_filenames: false
      - id: format
        name: ruff-format
        entry: ruff format
        language: system
        types:
          - python
        args:
          - '--config=./pyproject.toml'
        pass_filenames: false
      - id: asl-lint
        name: asl-lint
        entry: statelint
        language: system
        types: [json]
        args: []
        pass_filenames: false
        files: ^templates/.*\.asl\.json$

chore(deploy): Consolidate lint and test steps into deploy workflow and remove separate lint-and-test workflow
  .github/workflows/deploy.yml
  .github/workflows/lint-and-test.yml
  smartscore/event_handler.py
  templates/get_players.asl.json
Due: static-analysis, format, asl-lint

chore(deploy): Rename workflow to reflect linting and testing steps
  .github/workflows/deploy.yml
Due: none

chore(deploy): Refactor GitHub Actions workflow to streamline setup, linting, and testing processes
  .github/workflows/deploy.yml
Due: none

chore(players): Refactor handle_get_players_from_team to reduce sfn steps (#68)
  .github/workflows/deploy.yml
  .github/workflows/lint-and-test.yml
  smartscore/event_handler.py
  templates/get_players.asl.json
  templates/template.yaml
  tests/unit/test_handle_get_players_from_team.py
Due: static-analysis, format, asl-lint

chore(deploy): Update GitHub Actions conditions for deploy job and streamline workflow
  .github/workflows/deploy.yml
Due: none

chore(deploy): Upgrade GitHub Actions cache and artifact versions for improved performance
  .github/workflows/deploy.yml
Due: none

chore(deploy): Upgrade actions/checkout and actions/setup-python to v6, and aws-actions/configure-aws-credentials to v5
  .github/workflows/deploy.yml
Due: none

chore(deploy): Refactor lint and test jobs for clarity and improved caching
  .github/workflows/deploy.yml
Due: none

chore(gh-actions): Update gh actions (#69)
  .github/workflows/deploy.yml
Due: none

Adjust poetry cache and installation
  .github/workflows/deploy.yml
Due: none

Adjust deploy script
  build_scripts/deploy.sh
Due: none

chore(deploy): Add AWS credentials configuration and update PATH for Poetry
  .github/workflows/deploy.yml
Due: none

chore(deploy): Install build tools and update dependency installation steps
  .github/workflows/deploy.yml
Due: none

fix(deploy): Use Poetry to install dependencies in deploy script
  build_scripts/deploy.sh
Due: none

Adjust poetry cache and installation (#70)
  .github/workflows/deploy.yml
Due: none

chore(rate-limit): Add delay to avoid rate limiting and adjust timeout settings
  smartscore/service.py
  templates/get_players.asl.json
  templates/template.yaml
Due: static-analysis, format, asl-lint

chore(rate-limit): Add delay to avoid rate limiting and adjust timeout settings (#71)
  smartscore/service.py
  templates/get_players.asl.json
  templates/template.yaml
Due: static-analysis, format, asl-lint

Add origin headers to fix tims request
  smartscore/utility.py
Due: static-analysis, format

run linters
  smartscore/utility.py
Due: static-analysis, format

Add origin headers to fix tims request (#72)
  smartscore/utility.py
Due: static-analysis, format

Update versions
  poetry.lock
Due: none

Update versions (#73)
  poetry.lock
Due: none

Increase max lambda size
  build_scripts/deploy.sh
Due: none

Add injuried field to player info client
  pyproject.toml
  smartscore/event_handler.py
  smartscore/scripts/get_odds.py
  smartscore/service.py
  smartscore/utility.py
  templates/player_processing_pipeline.asl.json
  templates/template.yaml
Due: static-analysis, format, asl-lint

Update event handler to return proper info
  poetry.lock
  smartscore/event_handler.py
  smartscore/service.py
  templates/template.yaml
Due: static-analysis, format

Fix deploy scripot
  build_scripts/deploy.sh
Due: none

Use rotowire api
  smartscore/service.py
Due: static-analysis, format

Run linters
  smartscore/service.py
Due: static-analysis, format

Allow sfn to invoke lambda
  templates/template.yaml
Due: none

Ensure initial run passes through
  smartscore/event_handler.py
Due: static-analysis, format

Add date
  smartscore/event_handler.py
Due: static-analysis, format

Create a lambda to fetch injuries (#62)
  build_scripts/deploy.sh
  poetry.lock
  pyproject.toml
  smartscore/event_handler.py
  smartscore/scripts/get_odds.py
  smartscore/service.py
  smartscore/utility.py
  templates/player_processing_pipeline.asl.json
  templates/template.yaml
Due: static-analysis, format, asl-lint

Only run injury check once a day
  smartscore/event_handler.py
  templates/player_processing_pipeline.asl.json
Due: static-analysis, format, asl-lint

Run linters
  smartscore/event_handler.py
Due: static-analysis, format

Remove extra injuries step
  templates/player_processing_pipeline.asl.json
Due: asl-lint

Fix sfn dfn
  templates/player_processing_pipeline.asl.json
Due: asl-lint

feat(injuries): Only get injuries once per day (#75)
  smartscore/event_handler.py
  templates/player_processing_pipeline.asl.json
Due: static-analysis, format, asl-lint

feat(schedule): Add last_game flag to input payload for event scheduling
  smartscore/utility.py
Due: static-analysis, format

feat(event-handler): Update data retrieval status handling and response structure
  smartscore/event_handler.py
  smartscore/service.py
  smartscore/utility.py
  templates/player_processing_pipeline.asl.json
Due: static-analysis, format, asl-lint

chore: Update status variable checks to use StringEquals and adjust test assertions for schedule run
  smartscore/event_handler.py
  templates/player_processing_pipeline.asl.json
  tests/unit/test_handle_get_teams.py
Due: static-analysis, format, asl-lint
