Repository nathan-probert/SmartScore: changes, and which pre-commit hooks are due for each by the changed paths.
All: static-analysis, format, asl-lint

static-analysis:
  name: ruff-linter
  entry: ruff check
  language: system
  args:
  - --config=./pyproject.toml
  - --fix
  pass_filenames: false

format:
  name: ruff-format
  entry: ruff format
  language: system
  args:
  - --config=./pyproject.toml
  pass_filenames: false

asl-lint:
  name: asl-lint
  entry: statelint
  language: system
  args: []
  pass_filenames: false

Switch all AWS API calls to the Cloudflare smartscore-api worker (#121)
  .github/workflows/deploy.yml
  build_scripts/deploy.sh
  pyproject.toml
  smartscore/cloudflare_client.py
  smartscore/config.py
  smartscore/constants.py
  smartscore/event_handler.py
  smartscore/scripts/shared.py
  smartscore/service.py
  smartscore/utility.py
  templates/player_processing_pipeline.asl.json
  templates/template.yaml
  tests/unit/test_cloudflare_client.py
  tests/unit/test_event_handler.py
  tests/unit/test_handle_save_historic_db.py
  tests/unit/test_service.py
  tests/unit/test_template_env_vars.py
  uv.lock
Due: static-analysis, format, asl-lint

Add NHL and RotoWire starting lineup retrieval
  README.md
  smartscore/nhl_lineups.py
  tests/unit/test_nhl_lineups.py
Due: static-analysis, format

Wire projected starting lineups into the picks pipeline
  README.md
  smartscore/event_handler.py
  smartscore/nhl_lineups.py
  smartscore/service.py
  supabase/migrations/20261001_add_lineup_columns.sql
  templates/player_processing_pipeline.asl.json
  templates/template.yaml
  tests/unit/test_lineups_merge.py
  tests/unit/test_nhl_lineups.py
Due: static-analysis, format, asl-lint

Document model-training constraints for lineup fields
  README.md
Due: none

Correct the lineup training-data path in the README
  README.md
Due: none

Fix CI failures after rebasing onto main
  supabase/migrations/20261001_add_lineup_columns.sql
  templates/template.yaml
Due: none

Deploy real code for GetLineups, and guard against the class of bug
  build_scripts/deploy.sh
  tests/unit/test_template_env_vars.py
Due: static-analysis, format

Make the lineup pipeline step failure-tolerant
  smartscore/event_handler.py
  smartscore/service.py
  tests/unit/test_lineups_merge.py
Due: static-analysis, format

Add NHL and RotoWire starting lineup retrieval (#122)
  README.md
  build_scripts/deploy.sh
  smartscore/event_handler.py
  smartscore/nhl_lineups.py
  smartscore/service.py
  supabase/migrations/20261001_add_lineup_columns.sql
  templates/player_processing_pipeline.asl.json
  templates/template.yaml
  tests/unit/test_lineups_merge.py
  tests/unit/test_nhl_lineups.py
  tests/unit/test_template_env_vars.py
Due: static-analysis, format, asl-lint

Rename SUPABASE_ADMIN_AUTH_CLIENT and drop the worker token (#113)
  smartscore/config.py
  smartscore/utility.py
  tests/unit/test_email_preferences.py
Due: static-analysis, format

Remove the Cloudflare smartscore-api worker plumbing (#113)
  .github/workflows/deploy.yml
  build_scripts/deploy.sh
  smartscore/cloudflare_client.py
  smartscore/constants.py
  templates/template.yaml
  tests/unit/test_cloudflare_client.py
  tests/unit/test_template_env_vars.py
Due: static-analysis, format

Add the Supabase Player-Snapshots archive to replace MongoDB (#113)
  smartscore/player_archive.py
  supabase/migrations/20261002_add_player_snapshots_table.sql
  tests/unit/test_player_archive.py
Due: static-analysis, format

Point the pipeline at the Supabase player snapshot archive (#113)
  smartscore/event_handler.py
  smartscore/scripts/shared.py
  smartscore/service.py
  tests/unit/test_event_handler.py
  tests/unit/test_service.py
Due: static-analysis, format

Document the Supabase player snapshot archive (#113)
  README.md
Due: none

Add the MongoDB to Supabase snapshot port script (#113)
  pyproject.toml
  smartscore/scripts/port_mongo_snapshots.py
  tests/unit/test_port_mongo_snapshots.py
  uv.lock
Due: static-analysis, format

Keep players, teams, and goalies relational until DB write
  smartscore/event_handler.py
  smartscore/service.py
  smartscore/utility.py
  templates/player_processing_pipeline.asl.json
  tests/unit/test_event_handler.py
  tests/unit/test_goalies.py
  tests/unit/test_service.py
  tests/unit/test_service_predictions.py
Due: static-analysis, format, asl-lint

Update dev integration test for relational GetPlayers output
  tests/integration/test_mock_nhl_integration.py
Due: static-analysis, format

Keep players, teams, and goalies relational until DB write (#125)
  smartscore/event_handler.py
  smartscore/service.py
  smartscore/utility.py
  templates/player_processing_pipeline.asl.json
  tests/integration/test_mock_nhl_integration.py
  tests/unit/test_event_handler.py
  tests/unit/test_goalies.py
  tests/unit/test_service.py
  tests/unit/test_service_predictions.py
Due: static-analysis, format, asl-lint

Count all newly-resolved dates in season/lifetime metrics
  smartscore/service.py
  templates/player_processing_pipeline.asl.json
  tests/unit/test_write_historic_gap_recovery.py
Due: static-analysis, format, asl-lint

Count all newly-resolved dates in season/lifetime metrics (#126)
  smartscore/service.py
  templates/player_processing_pipeline.asl.json
  tests/unit/test_write_historic_gap_recovery.py
Due: static-analysis, format, asl-lint

Port historical player data from MongoDB to Supabase (#113) (#124)
  .github/workflows/deploy.yml
  README.md
  build_scripts/deploy.sh
  pyproject.toml
  smartscore/cloudflare_client.py
  smartscore/config.py
  smartscore/constants.py
  smartscore/event_handler.py
  smartscore/player_archive.py
  smartscore/scripts/port_mongo_snapshots.py
  smartscore/scripts/shared.py
  smartscore/service.py
  smartscore/utility.py
  supabase/migrations/20261002_add_player_snapshots_table.sql
  templates/template.yaml
  tests/unit/test_cloudflare_client.py
  tests/unit/test_email_preferences.py
  tests/unit/test_event_handler.py
  tests/unit/test_player_archive.py
  tests/unit/test_port_mongo_snapshots.py
  tests/unit/test_service.py
  tests/unit/test_template_env_vars.py
  uv.lock
Due: static-analysis, format

Key the gap-recovery archive mock on player_id (#113)
  tests/unit/test_write_historic_gap_recovery.py
Due: static-analysis, format

Key the gap-recovery archive mock on player_id (#113) (#127)
  tests/unit/test_write_historic_gap_recovery.py
Due: static-analysis, format

Backfill team identity columns for Player-Snapshots (#113)
  .gitignore
  pyproject.toml
  smartscore/scripts/backfill_team_identity.py
  supabase/migrations/20261002_add_player_snapshots_table.sql
  supabase/migrations/20261007_add_team_identity_columns.sql
  tests/unit/test_backfill_team_identity.py
Due: static-analysis, format

Fix NotifyUsers failing on the Step Functions payload limit
  smartscore/event_handler.py
  smartscore/service.py
  templates/notify_users.asl.json
  tests/unit/test_event_handler.py
  tests/unit/test_notify_users_state_size.py
  tests/unit/test_service.py
Due: static-analysis, format, asl-lint

Move the ResultSelector warning out of $Comment in NotifyUsers ASL
  templates/notify_users.asl.json
Due: asl-lint

Fix NotifyUsers failing on the Step Functions payload limit (#129)
  smartscore/event_handler.py
  smartscore/service.py
  templates/notify_users.asl.json
  tests/unit/test_event_handler.py
  tests/unit/test_notify_users_state_size.py
  tests/unit/test_service.py
Due: static-analysis, format, asl-lint

Add backtrack: reconstruct season-to-date stats from NHL game logs
  .gitignore
  Makefile
  data/dumps/20232024.sql.gz
  smartscore/scripts/backtrack/dump_store.py
  smartscore/scripts/backtrack/local_store.py
  smartscore/scripts/backtrack/nhl_client.py
  smartscore/scripts/backtrack/reconstruct.py
  smartscore/scripts/backtrack/run_background.py
  smartscore/scripts/backtrack/team_map.py
  supabase/migrations/20261008_add_player_snapshots_backtrack.sql
Due: static-analysis, format

Add five_gpg to the derived features
  data/dumps/20232024.sql.gz
  smartscore/scripts/backtrack/local_store.py
Due: static-analysis, format

﻿Add team stats (tgpg, otga) from official box score totals
  data/dumps/20232024.sql.gz
  smartscore/scripts/backtrack/dump_store.py
  smartscore/scripts/backtrack/local_store.py
  smartscore/scripts/backtrack/nhl_client.py
  smartscore/scripts/backtrack/validate.py
  supabase/migrations/20261008_add_team_stats_backtrack.sql
Due: static-analysis, format

Fix backtrack review findings: debut rows, dead code, and tests
  .gitattributes
  .gitignore
  Makefile
  pyproject.toml
  smartscore/scripts/backtrack/dump_store.py
  smartscore/scripts/backtrack/local_store.py
  smartscore/scripts/backtrack/nhl_client.py
  smartscore/scripts/backtrack/reconstruct.py
  smartscore/scripts/backtrack/run_background.py
  smartscore/scripts/backtrack/team_map.py
  smartscore/scripts/backtrack/validate.py
  supabase/migrations/20261008_add_player_snapshots_backtrack.sql
  supabase/migrations/20261008_add_team_stats_backtrack.sql
  tests/unit/test_backtrack_dump_store.py
  tests/unit/test_backtrack_local_store.py
  tests/unit/test_backtrack_reconstruct.py
  tests/unit/test_backtrack_team_map.py
Due: static-analysis, format

Set dummy Supabase credentials in unit conftest (#113)
  tests/unit/conftest.py
Due: static-analysis, format

Refresh 20232024 dump after the debut-zero re-derive
  data/dumps/20232024.sql.gz
Due: none

Prefer archive names on publish; compare teams by player identity
  smartscore/scripts/backtrack/local_store.py
  smartscore/scripts/backtrack/validate.py
  tests/unit/test_backtrack_local_store.py
Due: static-analysis, format

Add ppg player rate and reconstruct team otshga
  data/dumps/20232024.sql.gz
  smartscore/scripts/backtrack/local_store.py
  supabase/migrations/20261008_add_player_snapshots_backtrack.sql
  supabase/migrations/20261008_add_team_stats_backtrack.sql
  supabase/migrations/20261009_add_ppg_player_snapshots_backtrack.sql
  tests/unit/test_backtrack_local_store.py
Due: static-analysis, format

Add playoffs to the season record: schedule walk, box scores, game logs
  smartscore/scripts/backtrack/local_store.py
  smartscore/scripts/backtrack/nhl_client.py
  smartscore/scripts/backtrack/reconstruct.py
  smartscore/scripts/backtrack/run_background.py
  tests/unit/test_backtrack_local_store.py
  tests/unit/test_backtrack_nhl_client.py
  tests/unit/test_backtrack_reconstruct.py
Due: static-analysis, format

Retry box-score fetches so a reset connection cannot kill the build
  smartscore/scripts/backtrack/nhl_client.py
  tests/unit/test_backtrack_nhl_client.py
Due: static-analysis, format

Record playoff-scope validation: 32/32 endpoint, official-NHL totals, archive staleness
  smartscore/scripts/backtrack/local_store.py
  supabase/migrations/20261008_add_player_snapshots_backtrack.sql
  supabase/migrations/20261008_add_team_stats_backtrack.sql
Due: static-analysis, format

Re-export 20232024 store dump with playoff games
  data/dumps/20232024.sql.gz
Due: none

Report skater log-merge coverage separately from goalie rows in stats
  smartscore/scripts/backtrack/local_store.py
Due: static-analysis, format

Path conditions:
  static-analysis: any of: \.py$
  format: any of: \.py$
  asl-lint: any of: ^templates/.*\.asl\.json$ and \.json$
