Repository nathan-probert/SmartScore: changes, and which pre-commit hooks are due for each by the changed paths.
All: static-analysis, format, asl-lint

static-analysis:
  name: ruff-linter
  entry: ruff check
  language: system
  args:
  - --config=./pyproject.toml
  - --fix
  pass_filenames: false

format:
  name: ruff-format
  entry: ruff format
  language: system
  args:
  - --config=./pyproject.toml
  pass_filenames: false

asl-lint:
  name: asl-lint
  entry: statelint
  language: system
  args: []
  pass_filenames: false

Fix Lambda dependency packaging in deploy script for uv
  build_scripts/deploy.sh
Due: none

Migrate to uv (#103)
  .github/workflows/deploy.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  build_scripts/deploy.sh
  poetry.lock
  pyproject.toml
  smartscore/email_utility.py
  smartscore/feature_flags.py
  smartscore/scripts/calculate_accuracy.py
  smartscore/scripts/find_weights_gpu.py
  smartscore/scripts/get_odds.py
  smartscore/scripts/plots.py
  smartscore/scripts/record_nhl_fixtures.py
  smartscore/scripts/test_weights.py
  smartscore/service.py
  smartscore/utility.py
  tests/fixtures/nhl/README.md
  tests/integration/test_mock_nhl_integration.py
  tests/unit/test_service.py
  uv.lock
Due: static-analysis, format

Reuse build artifacts across CI jobs
  .github/workflows/deploy.yml
  build_scripts/deploy.sh
Due: none

Fix build artifact root stripping by upload-artifact LCA
  .github/workflows/deploy.yml
Due: none

Reuse build artifacts across CI jobs (#104)
  .github/workflows/deploy.yml
  build_scripts/deploy.sh
Due: none

Combine C/Rust compile into one cached Docker build image
  .github/workflows/deploy.yml
  build_scripts/Dockerfile
  build_scripts/build.sh
  build_scripts/compile.sh
  build_scripts/deploy.sh
  build_scripts/rust_compile.sh
Due: none

Cache uv deps in deploy job and use uv pip install
  .github/workflows/deploy.yml
  build_scripts/deploy.sh
Due: none

Fix Cache uv path to match setup-uv UV_CACHE_DIR
  .github/workflows/deploy.yml
Due: none

Serialize concurrent deploys and surface AWS errors on Lambda update failure
  .github/workflows/deploy.yml
  build_scripts/deploy.sh
Due: none

Cache uv deps in deploy job and use uv pip install (#106)
  .github/workflows/deploy.yml
  build_scripts/deploy.sh
Due: none

Exclude dev/research scripts from Lambda zip
  build_scripts/deploy.sh
Due: none

Exclude dev/research scripts from Lambda zip (#107)
  build_scripts/deploy.sh
Due: none

Add local Floci AWS emulation support
  .gitignore
  Makefile
  PLAN-local-floci.md
  build_scripts/compile.sh
  build_scripts/deploy.sh
  build_scripts/rust_compile.sh
  docker-compose.yml
  smartscore/utility.py
Due: static-analysis, format

Changes for local aws
  .gitattributes
Due: none

Update website link in README
  README.md
Due: none

Add per-season pick accuracy alongside lifetime metrics
  smartscore/constants.py
  smartscore/event_handler.py
  smartscore/service.py
  smartscore/utility.py
  tests/unit/test_service_season_metrics.py
Due: static-analysis, format

Add per-season pick accuracy alongside lifetime metrics (#111)
  smartscore/constants.py
  smartscore/event_handler.py
  smartscore/service.py
  smartscore/utility.py
  tests/unit/test_service_season_metrics.py
Due: static-analysis, format

docs: note RotoWire goalie/injury sources with DailyFaceoff fallback
  README.md
Due: none

feat: record starting goalies via RotoWire with NHL stats
  README.md
  build_scripts/deploy.sh
  smartscore/event_handler.py
  smartscore/service.py
  templates/player_processing_pipeline.asl.json
  templates/template.yaml
  tests/unit/test_event_handler.py
  tests/unit/test_goalies.py
Due: static-analysis, format, asl-lint

Update website link in README (#110)
  README.md
Due: none

fix: review follow-ups for starting goalie recording
  smartscore/service.py
  templates/template.yaml
  tests/unit/test_goalies.py
Due: static-analysis, format

Record starting goalies via RotoWire with NHL stats (#112)
  README.md
  build_scripts/deploy.sh
  smartscore/event_handler.py
  smartscore/service.py
  supabase/migrations/20260930_add_starting_goalie_columns.sql
  templates/player_processing_pipeline.asl.json
  templates/template.yaml
  tests/unit/test_event_handler.py
  tests/unit/test_goalies.py
Due: static-analysis, format, asl-lint

Remove dead Xano API URL constants
  smartscore/constants.py
Due: static-analysis, format

Remove dead Xano API URL constants (#116)
  smartscore/constants.py
Due: static-analysis, format

fix: fall back to prior season for goalie stats in preseason
  README.md
  smartscore/service.py
  tests/unit/test_goalies.py
Due: static-analysis, format

fix: log preseason goalie-stats gaps instead of backfilling prior season
  README.md
  smartscore/service.py
  tests/unit/test_goalies.py
Due: static-analysis, format

fix: log preseason goalie-stats gaps instead of backfilling prior season (#119)
  README.md
  smartscore/service.py
  tests/unit/test_goalies.py
Due: static-analysis, format

Auto-apply Supabase migrations on merge/deploy
  .github/workflows/deploy.yml
  README.md
  supabase/migrations/20260930_add_starting_goalie_columns.sql
Due: none

Fix placeholder guard so it can actually fire
  .github/workflows/deploy.yml
Due: none

Add Cloudflare smartscore-api HTTP client
  smartscore/cloudflare_client.py
  smartscore/config.py
  smartscore/constants.py
Due: static-analysis, format

Call the Cloudflare worker instead of invoking the Api Lambda
  smartscore/event_handler.py
  smartscore/scripts/shared.py
  smartscore/service.py
Due: static-analysis, format

Route SaveToDb to a new SavePlayers Lambda and drop the Api resources
  .github/workflows/deploy.yml
  build_scripts/deploy.sh
  templates/player_processing_pipeline.asl.json
  templates/template.yaml
Due: asl-lint

Update tests for the Cloudflare client
  tests/unit/test_cloudflare_client.py
  tests/unit/test_event_handler.py
  tests/unit/test_handle_save_historic_db.py
  tests/unit/test_service.py
Due: static-analysis, format

Remove now-unused Lambda invoke helpers
  smartscore/utility.py
Due: static-analysis, format

Auto-apply Supabase migrations on merge/deploy (#114) (#120)
  .github/workflows/deploy.yml
  README.md
  supabase/migrations/20260930_add_starting_goalie_columns.sql
Due: none

Pass the API token to the Lambdas that call the worker
  templates/template.yaml
Due: none

Give every Lambda the worker API token
  templates/template.yaml
Due: none

Guard the Lambda env vars with a template test
  pyproject.toml
  tests/unit/test_template_env_vars.py
  uv.lock
Due: static-analysis, format

Give the backfill Lambda a minute for the per-date worker calls
  templates/template.yaml
Due: none

Path conditions:
  static-analysis: any of: \.py$
  format: any of: \.py$
  asl-lint: any of: ^templates/.*\.asl\.json$ and \.json$
